.dl-gallery-map {
  height: 250px;
  width: 100%;
}
@media (min-width: 922px) {
  .dl-gallery-map {
    height: 750px;
  }
}

.dl-gallery-map-container,
.dl-gallery-map-marker,
.dl-gallery-map-info {
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.4);
}

.dl-gallery-map-container {
  border: 1px solid #333;
}

.dl-gallery-map-marker {
  border: 2px solid #fff;
  border-bottom-width: 4px;
  border-radius: 1px;
  -moz-border-radius: 1px;
  -webkit-border-radius: 1px;
  background-size: 32px;
}

.dl-gallery-map-info {
  background-color: #fafafa;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 3px;
  color: #222;
}

.dl-gallery-map-info .dl-gallery-map-title {
  font-weight: bold;
  padding-bottom: 3px;
  margin-bottom: 5px;
  display: block;
  text-align: center;
}

.dl-gallery-map-item-link {
  display: block;
  text-align: center;
}

.dl-gallery-map-item-link img {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
}

.dl-gallery-map-item-group {
  margin: 3px auto 0;
}

.dl-gallery-map-item-group .dl-gallery-map-item-link {
  display: inline;
}
